@charset "utf-8";

/* 초기화 */
* {
	margin: 0;
	padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:  border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    position: relative;
}
/* 초기화 끝 */

/* 공통 */
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #222222;
    margin-bottom: 20px;
}
p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 25px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: #222222;
}

/* 메인 영역 */
.mainWrap {
    width: 100%;
    height: 919px;
    background-color: #000000;
    position: relative;
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}
.mainWrap video{
    position: absolute;
    top: -200px;
    width: 100%;
    height: 1500px;
    object-fit: cover;
    text-align: center;
}
.topmenu {
    position: absolute;
    top: 30px;
    left: 56px;
    right: 56px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.L_menu {
    display: flex;
}
.cart {
    margin-left: 16px;
}
nav {
    position: absolute;
    top: 93px;
    color: #FFFFFF;
    font-weight: 350;
    width: 100%;
    z-index: 1;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li:not(:last-child) {
    margin-right: 40px;
}
nav ul li a:hover {
    font-weight: 700;
}

/* 티파니 티 영역 */
.tiffanyT {
    width: 100%;
    padding: 56px;
    margin-top: 104px;
    display: flex;
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}
.tiffanyT>div {
    flex: 1;
    height: 100%;
    overflow: hidden;
    margin-right: 16px;
}
.tiffanyT>div img {
    width: 100%;
}
.tiffanyT .tTxt {
    text-align: center;
    color: #222222;
}
.tiffanyT .tTxt>div {
    width: 100%;
    padding-top: 40%;
}
.tTxt a {
    font-weight: 300;
    padding: 8px 20px;
    line-height: 45px;
    border: 1px solid #222;
    margin: 0 auto;
}
.tTxt a:hover {
    border: none;
    background-color: #222;
    color: #FFF;
}
.T_slider {
    position: relative;
    margin-bottom: 160px;
}
.T_product {
    padding: 0 40px 0 56px;
}
.slick-slide div {
    padding: 0;
}
.slick-slide>div {
    padding-right: 16px;
}
.T_product>div img {
    width: 100%;
}
.arrow_button {
    position: absolute;
    top: 45%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 80px;
}
.arrow_button {
    cursor: pointer;
}

/* 중간배너 - 하드웨어 영역 */
.hardwear {
    width: 100%;
    height: 593px;
    margin-bottom: 160px;
    background-image: url("images/Hardwear_1920.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
}
.hwTxt {
    top: 35%;
    left: 10%;
    position: absolute;
    text-align: center;
}
.hwTxt a {
    font-weight: 300;
    padding: 8px 20px;
    line-height: 35px;
    border: 1px solid #222;
    margin: 0 auto;
}
.hwTxt a:hover {
    border: none;
    background-color: #222;
    color: #FFF;
}

/* 스토리 영역 */
.story {
    display: flex;
    padding: 0 56px;
    width: 100%;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
    color: #222;
    margin-bottom: 160px;
}
.story .tab {
    cursor: pointer;
}
.story .tab:not(:last-child) {
    margin-right: 16px;
}
.tab_img {
    width: 100%;
    overflow: hidden;
}
.tab_img:hover img{
    transform: scale(1.1);
}
.tab_img img {
    width: 100%;
    transition: all 0.3s linear;
}
.tab_txt {
    text-align: center;
    margin-top: 18px;
}
.story h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: -0.03em;
    margin-bottom: 8px;
}

/* 카테고리 영역 */
.category {
    width: 100%;
    padding: 0 56px;
    margin-bottom: 160px;
}
.cat_title {
    text-align: center;
    margin: 0 auto;
}
.cat_title h1{
    margin-bottom: 10px;
}
.cat_content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cat_content>div {
    margin-bottom: 13px;
}
.cat_content>div:not(:last-child) {
    margin-right: 14px;
}
.cat_content span {
    display: block;
    text-align: center;
    margin-top: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

/* 하단 배너 - 웨딩링 영역 */
.wedding {
    width: 100%;
    height: 512px;
    background-image: url("images/wedding.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
}
.wTxt {
    position: absolute;
    text-align: center;
    top: 35%;
    left: 10%;
}
.wTxt a {
    width: 71px;
    color: #777777;
    text-decoration: underline;
    text-align: center;
}

/* 푸터 영역 */
footer {
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    height: auto;
    background-color: #222;
    color: #FFF;
}
footer p {
    color: #FFF;
}
.top_footer {
    width: 100%;
    height: 384px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding-top: 90px;
}
.top_footer>div {
    display: flex;
    justify-content: center;
    max-width: 715px;
    margin: 0 auto;
    justify-content: space-between;
}
.service {
    text-align: center;
}
.service p {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 17px;
}
.service a {
    color: #C4C4C4;
    font-size: 12px;
    text-decoration: underline;
}
.circle {
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 68px;
    width: 136px;
    height: 136px;
    text-align: center;
    padding-top: 28px;
    margin: 0 auto;
    margin-bottom: 12px;
}
.service:nth-child(2) .circle {
    padding-top: 38px;
}
.circle span {
    display: block;
    margin-top: 8px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
}
.bottom_footer {
    width: 100%;
    padding-top: 72px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.L_footer {
    margin-right: 96px;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: -0.03em;
}
.L_footer h2 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}
.news_form {
    margin-top: 24px;
    display: flex;
}
.news_form input {
    width: 297px;
    height: 44px;
    border: 1px  solid rgba(255,255,255,0.5);
    background-color: #222;
    padding-left: 16px;
    padding-right: 10px;
    color: #FFF;
}
.news_form button {
    height: 44px;
    width: 133px;
    background-color: #FFF;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
    border: none;
    cursor: pointer;
}
.R_footer {
    display: flex;
}
.R_footer ul {
    margin-right: 32px;
    font-size: 13px;
    line-height: 19px;
}
.R_footer ul li:not(:last-child) {
    margin-bottom: 12px;
}
.R_footer ul li:not(:first-child) {
    font-weight: 300;
}
.copy {
    margin-top: 72px;
    text-align: center;
    padding-bottom: 80px;
}
copyright {
    margin-top: 8px;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.05em;
}