@charset "utf-8";

/* 초기화 */
* {
	margin: 0;
	padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:  border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
    display: block;
}
body {
    position: relative;
}
/* 초기화 끝 */

/* 공통 */
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #222222;
}
p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 25px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: #222222;
}

/* 메인 영역 */
.mainWrap {
    width: 100%;
    height: 919px;
    background-color: #000000;
    position: relative;
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}
.mainWrap video{
    position: absolute;
    top: -200px;
    width: 100%;
    height: 1500px;
    object-fit: cover;
    text-align: center;
}
.topmenu {
    position: absolute;
    top: 30px;
    left: 56px;
    right: 56px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.L_menu {
    display: flex;
}
.cart {
    margin-left: 16px;
}
nav {
    position: absolute;
    top: 93px;
    color: #FFFFFF;
    font-weight: 350;
    width: 100%;
    z-index: 1;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li:not(:last-child) {
    margin-right: 40px;
}
nav ul li a:hover {
    font-weight: 700;
}

/* 티파니 티 영역 */
.tiffanyT {
    width: 100%;
    padding: 56px;
    margin-top: 104px;
    display: flex;
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}
.tiffanyT>div {
    flex: 1;
    height: 100%;
    overflow: hidden;
    margin-right: 16px;
}
.tiffanyT>div img {
    width: 100%;
}
.tiffanyT .tTxt {
    text-align: center;
    color: #222222;
}
.tiffanyT .tTxt>div {
    width: 100%;
    padding-top: 40%;
}
.tTxt hr {
    margin: 15px auto;
    width: 435px;
    border: 1px solid #E5E5E5;
}
.tTxt a {
    font-weight: 300;
    width: 210px;
    height: 40px;
    line-height: 35px;
    border: 1px solid #222;
    margin: 0 auto;
}
.tTxt a:hover {
    border: none;
    background-color: #222;
    color: #FFF;
}
.T_slider {
    position: relative;
    margin-bottom: 160px;
}
.T_product {
    padding: 0 40px 0 56px;
}
.slick-slide div {
    padding: 0;
}
.slick-slide>div {
    padding-right: 16px;
}
.T_product>div img {
    width: 100%;
}
.arrow_button {
    position: absolute;
    top: 45%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 80px;
}
.arrow_button {
    cursor: pointer;
}

/* 중간배너 - 하드웨어 영역 */
.hardwear {
    width: 100%;
    height: 593px;
    margin-bottom: 160px;
    background-image: url(/images/Hardwear_1920.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
}
.hwTxt {
    top: 35%;
    left: 10%;
    position: absolute;
    text-align: center;
}
.hwTxt h1 {
    margin-bottom: 20px;
}
.hwTxt a {
    font-weight: 300;
    width: 250px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #222;
    margin: 0 auto;
}
.hwTxt a:hover {
    border: none;
    background-color: #222;
    color: #FFF;
}